@import "tailwindcss";

:root {
  --background: #fdf6e3;
  --foreground: #073642;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-libre-baskerville);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #002b36;
    --foreground: #eee8d5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
